.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0.25rem 3.5rem 0;
  padding: 2rem 0 1rem;
  border-top: 1px solid rgba(177, 117, 127, 0.2);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    gap: 2rem;
    text-align: center;
    margin: 0.25rem 0 0;
    padding: 2rem 3.5rem 1rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.smaillDivider {
  width: 1px;
  height: 2rem;
  background-color: rgba(177, 117, 127, 0.2);

  @media (max-width: 768px) {
    display: none;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--font-size-micro);
  color: var(--white-color);

  p {
    font-size: var(--font-size-micro);
    color: var(--tertiary-color);
  }
}

.credits {
  font-size: 10px;
  color: var(--gray-light-color);

  a {
    color: var(--gray-light-color);
  }
}
