:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-family: 'Poppins', sans-serif;
  --primary-color: #fa627c;
  --secondary-color: #ce4e63;
  --tertiary-color: #b1757f;
  --white-color: #fafafa;
  --gray-light-color: #888888;
  --gray-default-color: #383838;
  --gray-dark-color: #1c1b19;
  --background-color: #202020;

  --error-color: #b60000;
  --warning-color: #ffa500;
  --success-color: #008000;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-nano: 0.75rem; //12px
  --font-size-micro: 0.875rem; //14px
  --font-size-small: 1rem; //16px
  --font-size-medium: 1.125rem; //18px
  --font-size-large: 1.25rem; //20px
  --font-size-xlarge: 1.5rem; //24px
  --font-size-xxlarge: 2rem; //32px
  --font-size-xxxlarge: 2.5rem; //40px
  --font-size-xxxxlarge: 3.5rem; //56px
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--white-color));
  background: var(--background-color);
  font-family: var(--font-family);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--white-color);

  &:hover {
    text-decoration: underline;
  }
}
